// declare variables primary col
$primary-color: #7423f6;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(80, 15, 186);
  }
}
